// bower:scss
// endbower
$gray : #6f6f6f;
$titleColor: #3b3333;
$titleFont : 'Sansita One', cursive;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff6000;    
    
}
 

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  .nav {
      .active a ,a:focus{
          background-color: transparent;
          color:#1a1a1a;
           
      }
  }    
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.text-muted{
    color: $titleColor;
    text-align: center;
    font-family: $titleFont; 
    font-weight: 600;

}

/*Main-Body section */
.lg-umbrella{
    font-size: 3.5em;
}
.umbrellaMessage{
    display: block;
    font-style: italic;

}
.ulFixed{
    text-align: center;
    li{
        text-align: left;  
         
        
        
    }
}

.lead{
    img{
        width:300px
    }
}

#city{
    width: 70%;
    padding: 0px 2.5%;
    border: 1px solid #cbc7bf;
    border-radius: 5px; 
    height: 75px;
    color: #6f6f6f;
    font: 1.7em helvetica, arial, sans-serif;
}
















/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    border-radius: 50px;  
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
