<div class="jumbotron">
<p>This web app was created for the internship application offered by Orange Digital, also for learning purposes. To make this available I made use of the following technologies:</p>
<div class="container">
<div class="col-md-6 col-md-offset-3">
<ul class="ulFixed">
    <li>AngularJs</li>
    <li>Sass</li>
    <li>Yeoman</li>
    <li>Grunt</li>
    <li>Bower</li>
    <li>NodeJs</li>
</ul>
</div> 
</div>
 </div>

 
