<div class="jumbotron">
   <h1>Contact</h1>
    <p>Hi, my name is Clearence and if I'm not wrong I share the same passion as you, the web.
    One of my goals is to become a full stack developer. I started this journey by studying about networking and server administration. Then I moved to databases (both design and development), it is helpful to understand that area when designing web based systems. Later on I had a bit of programming in Java and C#, with the help of those languages I created desktop applications and mobile applications. My favourite is C# and Xamarin. Then I moved to Web development and design. Being honest, I need a huge amount of experience to consider myself a designer, however, I know the principles. I enjoy working on web projects because I can combine and apply all the technologies that I have studied to accomplish tasks.
  </p>
</div>