<div class="jumbotron">
    <h1>Hello, let's see the weather for today!</h1>
    <p>This little app will help you to decide if you need to take your
        <br><i class="fa fa-umbrella lg-umbrella"></i> 
        <br>with you today.</p>
    <p>Lets start by grabbing your position in this foreign galaxy.</p>
    <p>
        <a ng-hide="button" class="btn btn-lg btn-success" ng-click='doSmt()'>Take it, I trust you! <br><i ng-hide="spinner" class="fa fa-spinner fa-spin"></i></a>

    </p>
    <div ng-hide="answer">
        <h3>The weather for today tells us that you...<i class="umbrellaMessage" >{{umbrellaMessage}}</i></h3>
        <span>
      Temperature: {{temperature}}<br/>
      Description: {{description}}<br/>
      City : {{city}} <br/>
      State: {{state}}<br/>
  </span>
    </div>
    <br>
    <p class="lead">
        <img ng-src="images/{{dogeImage}}" alt="Hi, I'm doge!">
        <br>
    </p>
    
    <span>{{error}}</span>
    <span ng-bind-html="urlAPI"></span>
     
</div>

